:root {
    --cor-principal: #750058;
    --cor-secundaria: #808000;
}

* {
    margin: 0;
}

body {
    background-color: rgb(202, 202, 202);
}

header {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    height: 50px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.divGeral {
    width: 1300px;
    margin: 50px;
}  

.div_catalogo {
    display: grid;
    background-color: white;
    border-radius: 15px;
    padding: 50px;
    grid-template-columns: 225px 225px 225px 225px 225px;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.lbl_item {
    border: 5px solid black;
    width: 200px;
    cursor: pointer;
}

.imgAddItem {
    width: 300px;
}

.foto_item {
    height: 200px;
    width: 200px;
    overflow: hidden;
    object-fit: cover;
}

.div_novo_item {
    display: flex;
    width: 1200px;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div_novo_item input, textarea {
    width: 500px;
}

.div_novo_item button {
    min-width: 50px;
}


.lbl_img_item {
    width: 400px;
    height: 300px;
    border: 2px solid black;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}